:root {
  --bs-body-bg: var(--bs-gray-100);
}

.bg-mth {
  background-color: #F9C349
}

.fg-mth {
  color: #F9C349
}

#team-logo {
  width: 120px;
  height: 120px;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.gold-sponsor-header {
  color: #F9C349;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-bottom: 5px;
}

.silver-sponsor-header {
  color: silver;
  font-size: 42px;
  font-weight: 700;
  text-align: left;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.bronze-sponsor-header {
  color: #CD7F32;
  /* bronze */
  font-size: 42px;
  font-weight: 700;
  text-align: left;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.gold-sponsor-separator {
  color: #F9C349;
  background-color: #F9C349;
  height: 5px;
}

.silver-sponsor-separator {
  color: silver;
  background-color: silver;
  height: 5px;
}

.bronze-sponsor-separator {
  color: #CD7F32;
  background-color: #CD7F32;
  height: 5px;
}

.about-text {
  font-size: 42px;
  font-weight: 700;
  text-align: left;
}

.separator {
  color: black;
  background-color: black;
  height: 5px;
}

.school-info {
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.copyright {
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.season-carousel-image {
  width: 300px
}

.past-seasons-carousel-image {
  width: 800px
}